:local(.container) {
  margin-top: 44px;
}

:local(.enabled > span) {
  background-color: #ff0000 !important;
  color: white !important;
}

:local(.disabled > span) {
  background-color: #32ad00 !important;
  color: white !important;
}
